.header{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    padding:2rem 7%;
    background: red;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight:700;
    cursor: pointer;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    margin-left: 5rem;
    font-size: 16px;
    transition: .5s;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}